<h1>Tags:</h1>
<hr>
<% if @tags != nil %>
    <div class="p-3 text-base text-xl">
        <% @tags.each do |tag| %>
            <%= raw tag_links(tag.name) %>,
        <% end %>
    </div>
<% else %>
    No Tags Found
<% end %>