<div id="cart" class="collapsed cart" style="display: none">
  <div class="w-full bg-gradient-to-r from-blue-600 to-blue-200 absolute top-0 rounded-top-lg">
    <%= image_tag('close.png', onClick: "hideCart()", class: 'h-5 block float-right mb-3 mr-1 mt-1') %>.
  </div>
  <div class="relative">
    <div class="overflow-auto mt-8" style="height:500px;">
      <table class="collapsed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Item Code</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="cart-items">
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  <div class="absolute bottom-0 right-0">
    <div id="total" class="w-full"></div>
    <div class="text-red-600 w-full" onClick="emptyCart()">Clear Cart</div>
  </div>
</div>

<script>
function addToCart(item_id, item_number, item_price, item_name){
  var part = {
      itemName: item_name,
      itemNum: item_number,
      price: item_price
  }
  localStorage.setItem(item_id, JSON.stringify(part))
  $('#notice').html("<h3> Added to Cart </h3>")
  $('#notice').fadeIn(500).delay(1000).fadeOut(500)
}
    
    
function cartToggle(){
const cartStatus = document.getElementById("cart")
    if (cartStatus.classList.contains('collapsed')) {
        showCart()
    } else {
        hideCart()
    }
}
    
function cartItemTemplate(item_number, price, id, name){
  if (price == "") {
    price = 0.0
  }
  return"<tr id='"+id+"'><td class='itemnum select-all'>"+name+"</td><td class='itemnum select-all'>"+item_number+"</td><td class='price'>$"+price+"</td><td class='text-red-400' onclick='removeFromCart("+id+")'>Remove</td></tr>"
}

function calculateTotal(){
  var cart = localStorage
  var total = 0.0
  for (const [item_id, part_object] of Object.entries(cart)) {
    part = JSON.parse(part_object)
    if (part.price != ""){
      total += parseInt(part.price)
    }
  }
  document.getElementById("total").innerHTML = "Total: $"+total
}
    
function showCart(){
  var cart = localStorage
  var content = ""
  var total = 0.0
  for (const [item_id, part_object] of Object.entries(cart)) {
    part = JSON.parse(part_object)
    content += cartItemTemplate(part.itemNum, part.price, item_id, part.itemName)
    if (part.price != ""){
      total += parseInt(part.price)
    }
  }

  document.getElementById("total").innerHTML = "Total: $"+total

  document.getElementById("cart").classList.remove("collapsed")

  const cartItems = document.getElementById("cart-items")
  cartItems.innerHTML = content

  $('#cart').fadeIn(500)
}

function hideCart(){
  $('#cart').fadeOut(500)
  document.getElementById("cart").classList.add("collapsed")
  const cartItems = document.getElementById("cart-items")
  cartItems.innerHTML = ""
  document.getElementById("total").innerHTML = ""
}

function emptyCart(){
  const cartItems = document.getElementById("cart-items")
  cartItems.innerHTML = "<h3>Cleared</h3>"
  localStorage.clear()
  document.getElementById("cart").classList.add("collapsed")
  document.getElementById("total").innerHTML = "Total: $0"


  $('#cart').delay(500).fadeOut(500)
}
    
function removeFromCart(part_id){
  localStorage.removeItem(part_id)
  const cartItems = document.getElementById("cart-items")
  $('#' + part_id).fadeOut(500)
  calculateTotal()
}
</script>