<div class="container">
  <%= form_with(model: part, remote: true) do |form| %>
    <% if part.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

        <ul>
          <% part.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="flex-wrap">
    <div class="field">
      <%= form.label 'Name:' %>
      <%= form.text_field :name, placeholder: :name, class: 'text-field' %>
    </div>

    <div class="field">
      <%= form.label 'Item Number:' %>
      <%= form.text_field :item_number, placeholder: :item_number, class: 'text-field' %>
    </div>

    <div class="field">
      <%= form.label 'Picture:' %>
      <label class="button" tabindex="0">
        <%= form.file_field :picture, class: 'upload-button', onchange: "preview()" %>
        Upload Photo
      </label>
      <img id="frame" class="hidden" src="" width="100px" height="100px"/>
    </div>
  </div>

  <div class="flex">
    <div>
      <span class="field">
        <%= form.label 'Notes:' %>
        <%= form.text_area :notes, placeholder: :notes, class: 'text-field' %>
      </span>

      <span class="field">
        <%= form.label 'Price:' %>
        <%= form.number_field :price, value: @part.price ? '%.2f' % @part.price : nil, min: 0, step: 0.01, class: 'text-field' %>
      </span>
    </div>
  </div>

  <div class="flex">Links to purchase part online:</div>
  <div class="flex-wrap">
    <div class="flex-wrap">
      <span class="field">
        <%= form.text_field :link1, placeholder: :link1, class: 'text-field' %>
      </span>
      <span class="field">
        <%= form.text_field :link1_title, placeholder: :link1_title, class: 'text-field' %>
      </span>
    </div>

    <div class="flex-wrap">
      <span class="field">
        <%= form.text_field :link2, placeholder: :link2, class: 'text-field' %>
      </span>
      <span class="field">
        <%= form.text_field :link2_title, placeholder: :link2_title, class: 'text-field' %>
      </span>
    </div>

    <div class="flex-wrap">
      <span class="field">
        <%= form.text_field :link3, placeholder: :link3_title, class: 'text-field' %>
      </span>
      <span class="field">
        <%= form.text_field :link3_title, placeholder: :link3_title, class: 'text-field' %>
      </span>
    </div>

  </div>

  <div class="flex">
    <div class="large-10 large-centered columns">
        <%= form.label 'Tags:' %>
        <%= form.text_field :all_tags, placeholder: :all_tags || "Tags separated with comma" , class: 'text-field' %>
      </div>
  </div>

    <% if action_name == 'new' %>
      <div class="actions">
        <%= form.submit "Create Part", class: 'button' %>
      </div>
    <% else %>
      <div class="actions">
        <%= form.submit "Update Part", class: 'button' %>
      </div>
    <% end %>
  <% end %>
</div>

<script>
// from: https://stackoverflow.com/a/62167551
function preview() {
  $('#frame').removeClass('hidden')
    frame.src=URL.createObjectURL(event.target.files[0]);
}
</script>