<div class="header">
    <div class="header-wrap">
      <h1 class="text-white inline ml-3"><a href="/">Parts Database</a></h1>
      <% if user_signed_in? %>
        <span class="nav-menu-button bg-green-400 hover:bg-green-500 inline md:hidden rounded-l-full md:rounded-none" onClick="toggleMenu()">Menu ☰</span>
        <%= link_to '/all_tags', remote: true do %>
          <span class="nav-menu-button bg-green-400 hover:bg-green-500 hidden md:inline">All Tags</span>
        <% end %>
        <span class="nav-menu-button bg-yellow-400 hover:bg-yellow-500 rounded-l-full hidden md:rounded-none md:inline" onClick="cartToggle()">Cart</span>
        <%= link_to 'Add Part', new_part_path, method: :get, class: "nav-menu-button bg-red-400 hover:bg-red-500 rounded-l-full hidden md:inline" %>
      <% end %>


    </div>
    <div id="menu-items" class="menu-window hidden bg-gray-50">
      <%= link_to new_part_path do %>
        <div  class="nav-menu-item bg-red-400 hover:bg-red-500 w-full md:hidden" onClick="toggleMenu()">
          Add Part
        </div>
      <% end %>
      <%= link_to "/all_tags", remote: true do %>
        <div  class="nav-menu-item bg-green-400 hover:bg-green-500 w-full" onClick="toggleMenu()">
          All Tags
        </div>
      <% end %>
    </div>
  

  <% if user_signed_in? %>
    <%= render 'parts/search_form' %> 
  <% end %>
</div>

<% if user_signed_in? %>
  <%= render 'cart' %>
<% end %>

<script>

  $(document).ready(function() {
      $("all").click(function() {
          $("all").submit();
      });

      // hide away the search bar when scrolling
      // Reimplementation of previous method to prevent
      // the animation from playing in a loop, bouncing the content
      // This just sets the trigger distance from the top to a wide enough
      // value that the header expanding and contracting doesnt re-trigger the event
      $(window).on('scroll' , function(){
        var scroll = $(window).scrollTop();
        if(scroll > 500){
          $('#search-bar').slideUp(250)
        }
        if (scroll < 200){
          $('#search-bar').slideDown(250)
        }
      });
  });

  function toggleMenu(){
    if ($("#menu-items").is(":visible")){
      $("#menu-items").slideUp(500)
    } else {
      $("#menu-items").slideDown(500)
    }
    
  }

  // Handles sliding the search bar up and down while using the site
  // This is primarily to give more screen real estate when on mobile
  // Primary functions from here: https://stackoverflow.com/a/34996740
  // Modified to just slide in and out, rather than modify the CSS of it
  

  $(document).ready(function(){
   
});
</script>