<h1>Parts:</h1>
<hr>
<% if @parts != [] %>
  <div class="results_container">
    <% @parts.each do |part| %>
      <div class="result-card">
        <div class="result-name"><%= part.name %></div>
        <div class="result-content">
          <b>Item Number:</b>
          <p class="truncate"><%= part.item_number %></p>

          <div class="result-name-container">
            <a href="<%= url_for(part) %>">
            <% if part.picture.representable? %>
              <% if part.picture.previewable? %>
               <%= image_tag part.picture.preview(resize_to_limit: [200, 200]), class: 'result-image' %>
              <% else %>
                <%= image_tag part.picture.representation(resize_to_limit: [200, 200]), class: 'result-image' %>
              <% end %>
            <% else %>
              <%= image_tag 'not-representable.png', class: 'result-image' %>
            <% end %>
            </a>
          </div>
          <b>Notes:</b>
          <div class="result-tags overflow-auto">
            <%= sanitize part.notes %>
          </div>
        </div>

          <div class="add-to-cart hidden md:block" onClick="addToCart('<%= part.id %>', '<%= part.item_number %>', '<%= part.price %>', '<%= part.name %>')">
            Add to Cart
          </div>

        <a href="<%= part_path(part) %>">
          <div class="card-actions">
            Show 
          </div>
        </a>
      </div>
    <% end %>
  </div>
  
  <div class="pagination">
    <% if action_name == 'search' or action_name == 'all' or action_name == 'tags' %>
      <%= paginate @parts, remote: true, window: 2 %>
    <% else %>
      <%= paginate @parts, window: 2 %>
    <% end %>
  </div>
<% else %>
  <br>
  <p><strong>No Results</strong></p>
<% end %>