
<div id="search-bar" class="search-bar flex-wrap static">
  <%= form_with url: "/search", id: 'search', local: false, class: "", method: :get do |form| %>
    <%= form.text_field :query, class: "search-field", placeholder: "Enter tags separated by commas" %>
    <%= form.submit "Search", class: "search-button" %>
  <% end %>

</div>


<script>
  $(document).ready(function() {
      $("query").click(function() {
          $("query").submit();
      });
  });
</script>
