<div id="results" class="p-3">
  <div id="image-copied-notice" class="notice" style="display: none">
      <h1>Copied!</h1>
  </div>

  <h1><%= @part.name %></h1>
  <hr>

  <div class="flex flex-wrap md:flex-nowrap bg-gray-50">
    <div class="show-info-container w-full md:w-1/4 overflow-hidden mr-1 border-r bg-white">

      <p class="text-lg">Item Number:</p>
      <p class="text-lg pl-3 select-all"><%= @part.item_number %></p>

      <p class="text-lg">Price:</p>
      <p class="text-lg pl-3"><%= number_to_currency(@part.price) %></p>
      
      <p class="text-lg">Notes:</p>
      <div class="notes-content" >

        <%= sanitize @part.notes %>

      </div>
      
      <p class="text-lg">External Links:</p>
      <div class="text-base pl-3">
      
      <% [{link: @part.link1, title: @part.link1_title}, {link: @part.link2, title: @part.link2_title}, 
        {link: @part.link3, title: @part.link3_title}].each do |part| %>
        <% if part != '' %>
          <%= link_to part[:title], part[:link], target: "_blank" %></br>
        <% end %>
      <% end %>
      </div>

      <p class="text-lg">Tags:</p>
      <div class="h-40 border rounded-md p-3 mr-2">
        <p class="text-base"><%= raw tag_links(@part.all_tags) %></p>
      </div>

      <p class="hidden md:inline">Last Updated: <%= @part.updated_at %></p>
      <!-- Actions -->
      <div class="show-actions justify-center">
        <%= link_to 'Edit', edit_part_path(@part), class: "show-action bg-green-400 hover:bg-green-500 rounded-bl-lg", method: :get %>
        <%= link_to 'Delete', @part, class: "show-action bg-red-400 hover:bg-red-500 rounded-br-lg", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>

    </div>

    <div class="w-2/3 overflow-auto flex-initial">
      <div class="w-11/12 overflow">
      <% if @part.picture.representable? %>
        <% if @part.picture.previewable? %>
          <img id="picture-container" class="block" src="<%= url_for(@part.picture.preview(resize: '400x600')) %>">
          <p class="button hidden md:inline-flex" id="click-action-desc" onClick="toggleDoc()">Show PDF</p>
          <p class="button inline-flex" onclick="copyImageLink()">Copy Link</p>

          <div id="document-container" style="display:none">
            <embed src=<%= url_for(@part.picture) %> width="100%" height="600" style="border: none; display: hidden;" > </embed>
          </div>
        <% else %>
          <p>(click to copy URL to clipboard)</p>
          <img onClick="copyImageLink()" class="block" src="<%= url_for(@part.picture) %>">
        <% end %>
      <% else %>
        <%= image_tag 'not-representable.png', class: 'result-image' %>
        <hr>
        <a href="<%= url_for(@part.picture) %>" class="button hidden md:inline-flex">Download</a>
      <% end %>
      </div>
    </div>
    
  </div>
  <script>
  function copyImageLink() {
    console.log("Copied image to clipboard")
    
    navigator.clipboard.writeText("<%= root_url + url_for(@part) + '/picture' %>")
    $('#image-copied-notice').fadeIn(500)
    $('#image-copied-notice').delay(3000).fadeOut(1000)
  }

  function toggleDoc() {
    if ( $('#document-container').css('display') != 'none'){
      $('#document-container').css("display","none").html("<embed src=<%= url_for(@part.picture) %> width='100%' height='600' style='border: none; display: hidden;' > </embed>");
      $('#picture-container').css("display","");
      $('#click-action-desc').text("Show PDF");
    } else {
      $('#document-container').css("display","");
      $('#picture-container').css("display","none");
      $('#click-action-desc').text("Preview");
    }
  }
  </script>
</div>