/* application.scss */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0px; 
}

.notice {
  @apply font-bold text-xl bg-yellow-300 text-black text-center fixed left-1/3 right-1/3 object-top w-1/4 rounded-lg;
}
.cart {
  @apply font-bold text-xl  text-black text-center;
  @apply bg-gray-50 border-2 border-gray-400 rounded-lg;
  @apply fixed left-1/4 right-1/4 object-top w-1/2 h-2/3;
}

.cart table td:nth-child(3) { text-align: end; }

.header { @apply sticky top-0 bg-gray-200 w-full; }

.header-wrap { @apply w-full bg-gradient-to-r from-blue-600 to-blue-200; }

.nav-menu-button { 
  @apply w-32 text-2xl font-semibold text-center text-white float-right;
  height: inherit; 
}

.nav-menu-item {
  @apply w-full text-center text-white text-xl font-bold;
}

.search-bar {
  @apply pt-0 min-w-0 container items-start w-full;
}

.search-form {
  @apply flex;
}

.search-field {
  @apply px-2  py-1 placeholder-gray-400  text-gray-600; 
  @apply bg-white rounded  text-sm  border border-gray-400;
  @apply outline-none  focus:outline-none focus:ring;
  @apply ml-3 w-2/3 inline;
}

.search-button {
  @apply font-bold text-xl rounded bg-green-400 text-white m-1 max-w-lg p-1 inline hover:bg-green-500;
}



.text-field { 
  @apply px-2 py-1 placeholder-gray-400  text-gray-600;
  @apply bg-white rounded  text-sm  border border-gray-400;
  @apply outline-none focus:outline-none focus:ring;
  @apply m-3 p-3 w-60;   
}  

.button { 
  @apply font-bold text-xl text-center rounded text-white m-1 max-w-lg p-3  w-40 bg-green-400 hover:bg-green-500;
}

.delete { @apply bg-red-400 hover:bg-red-500; }

.show-actions {
  @apply flex;
}

.card-actions {
  @apply font-bold text-2xl text-white text-center bg-green-400 hover:bg-green-500 rounded-b-xl p-1 pl-3;
}

.add-to-cart {
  @apply font-bold text-2xl text-white text-center bg-blue-400 hover:bg-blue-500 p-1 pl-3;
}

.results_container { @apply p-3 flex flex-wrap justify-center; }

.result-card {
  @apply border-2 rounded-xl inline-block drop-shadow-lg m-3 items-center max-w-xs flex-auto;
}

.result-name {
  @apply font-bold text-2xl text-white bg-blue-300 rounded-t-xl p-1 pl-3 truncate overflow-hidden bg-gradient-to-r from-blue-600 to-blue-400;
}

.result-name-container {
  max-width: 200px;
  height: 200px;
}

.result-image {
  max-height: 199px;
}

.result-tags {
  @apply block h-20 overflow-auto;
  white-space: pre-line;
}

.notes-content {
  @apply h-40 border rounded-md p-3 mr-2 overflow-auto;
  height: 200px;
  white-space: pre-line;
}

.result-content {
  @apply p-3 m-3 align-top;
}

.show_actions {
  @apply flex;
}

.part-container {
  @apply flex m-3;
}

.part-info { 
  @apply p-3;
}

.upload-button {
  display: none;
}

h1 {
  @apply font-bold text-2xl;
}

h3 {
  @apply font-bold text-xl;
}

.show-action {
  @apply w-full block text-white text-xl text-center font-bold p-3;
}

.pagination {
  @apply text-center text-xl;
}

.pagination-buttons {
  @apply p-1 pl-1 pr-1 text-center bg-gray-200 hover:bg-gray-300 border border-gray-400;
}

.page-current {
  @apply bg-gray-400 hover:bg-gray-400;
}
