// Place all the styles related to the Parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table {
  width: 100%;
}

th {
  background-color: #DDD;
}

td {
  border-bottom: 1px solid #000;
}