<!DOCTYPE html>
<html>
  <head>
    <title>PartsDatabase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Tailwind CSS -->
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>

  <body style="margin: 0">
    <%= render 'parts/header' %>
    <div id="notice" class="notice"><h3><%= notice %></h3></div>
    <% if alert %>
      <div class="alert alert-danger notice"><h3><%= alert %></h3></div>
    <% end %>
    <%= yield %>
  </body>
  <script>
  $(document).ready(function(){
    if ($("#notice").children().length >= 1){
      $("#notice").delay(1000).fadeOut(1000);
    }
  })

  </script>
</html>
